<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="MainCtrl">
    <div>
        <h3>Welcome to GPS Tracker+</h3>
        <p>Login in. To see it in action.</p>
        <form class="m-t" role="form" action="#">
        	<div class="alert alert-danger" ng-show="isErrorMessage">
				{{errorMessage}}
            </div>
            <div class="form-group">
                <input type="userName" class="form-control" placeholder="Username" ng-model="userName" required >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="password" required >
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-click="login()">Login</button>
        </form>
        <p class="m-t"> <small>GPS Tracker+ &copy; 2015-2016</small> </p>
    </div>
</div>